videos/banana.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_03.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_07.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_09.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_18.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_20.webm filter=lfs diff=lfs merge=lfs -text
videos/01.webm filter=lfs diff=lfs merge=lfs -text
videos/04.mp4 filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_14.webm filter=lfs diff=lfs merge=lfs -text
videos/pitcher.webm filter=lfs diff=lfs merge=lfs -text
videos/strawberry_jello.webm filter=lfs diff=lfs merge=lfs -text
videos/01.mp4 filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_01.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_06.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_10.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_15.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_4x4.webm filter=lfs diff=lfs merge=lfs -text
videos/red_bowl.webm filter=lfs diff=lfs merge=lfs -text
videos/red_cup.webm filter=lfs diff=lfs merge=lfs -text
videos/cracker_box.webm filter=lfs diff=lfs merge=lfs -text
videos/tomato_soup.webm filter=lfs diff=lfs merge=lfs -text
videos/02.webm filter=lfs diff=lfs merge=lfs -text
videos/03.mp4 filter=lfs diff=lfs merge=lfs -text
videos/03.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_02.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_04.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_17.webm filter=lfs diff=lfs merge=lfs -text
videos/foam_brick.webm filter=lfs diff=lfs merge=lfs -text
videos/02.mp4 filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_05.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_13.webm filter=lfs diff=lfs merge=lfs -text
videos/spam.webm filter=lfs diff=lfs merge=lfs -text
videos/ycb_v_4x4.webm filter=lfs diff=lfs merge=lfs -text
videos/10_grasps.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_12.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_21.webm filter=lfs diff=lfs merge=lfs -text
videos/pen.webm filter=lfs diff=lfs merge=lfs -text
videos/scissors.webm filter=lfs diff=lfs merge=lfs -text
videos/tuna.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_11.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_08.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_16.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_19.webm filter=lfs diff=lfs merge=lfs -text
videos/domino_sugar.webm filter=lfs diff=lfs merge=lfs -text
videos/maxwell_coffee.webm filter=lfs diff=lfs merge=lfs -text
videos/yellow_mustard.webm filter=lfs diff=lfs merge=lfs -text
videos/choco_jello.webm filter=lfs diff=lfs merge=lfs -text
videos/cup_noodles_22.webm filter=lfs diff=lfs merge=lfs -text
videos/multiple_cup_noodles.webm filter=lfs diff=lfs merge=lfs -text
videos/soft_srub.webm filter=lfs diff=lfs merge=lfs -text
videos/wooden_block.webm filter=lfs diff=lfs merge=lfs -text
videos/04.webm filter=lfs diff=lfs merge=lfs -text
